root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{ts,js,json,yaml,yml}]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
insert_final_newline = true
